name: Rust

on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 2
      matrix:
        rust: [nightly]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        include:
          - rust: stable
            os: ubuntu-latest

          - rust: beta
            os: ubuntu-latest

          - rust: 1.51.0
            os: ubuntu-latest

          - rust: 1.56.0
            os: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: ci-format
      if: matrix.rust == 'stable'
      run: |
        rustup override set ${{ matrix.rust }}
        rustup component add rustfmt
        cd "${{github.workspace}}/"
        cargo fmt -- --check

    - name: enable-rust-stable
      if: matrix.rust == '1.51.0' 
      run: echo "rustv=rust_1_51" >> $GITHUB_ENV

    - name: enable-rust-stable
      if: matrix.rust == '1.56.0' 
      run: echo "rustv=rust_1_56" >> $GITHUB_ENV

    - name: enable-rust-stable
      if: matrix.rust == 'stable' || matrix.rust == 'beta' || matrix.rust == 'nightly'
      run: echo "rustv=rust_latest_stable" >> $GITHUB_ENV

    - uses: actions/checkout@v2
    - name: ci-all-versions
      run: |
        rustup override set ${{ matrix.rust }}
        rustup install beta

        env CARGO_BUILD_JOBS=1

        cd "${{github.workspace}}/examples/0_modules_and_interface_types/impl/"
        cargo +beta build

        cd "${{github.workspace}}/examples/1_trait_objects/plugin_0/"
        cargo +beta build

        cd "${{github.workspace}}/examples/1_trait_objects/plugin_1/"
        cargo +beta build

        cd "${{github.workspace}}/examples/2_nonexhaustive/implementation/"
        cargo +beta build

        cd "${{github.workspace}}/testing/0/impl_0/"
        cargo +beta build

        cd "${{github.workspace}}/testing/1 - loading errors/impl_1/"
        cargo +beta build

        cd "${{github.workspace}}/testing/1 - loading errors/non_abi_stable_lib/"
        cargo +beta build

        cd "${{github.workspace}}/testing/version_compatibility/impl_0"
        cargo +beta build

        cd "${{github.workspace}}/"
        rm Cargo.lock

        cd "${{github.workspace}}/examples/0_modules_and_interface_types/impl/"
        cargo check

        cd "${{github.workspace}}/examples/1_trait_objects/plugin_0/"
        cargo check

        cd "${{github.workspace}}/examples/1_trait_objects/plugin_1/"
        cargo check

        cd "${{github.workspace}}/examples/2_nonexhaustive/implementation/"
        cargo check

        cd "${{github.workspace}}/testing/0/impl_0/"
        cargo check

        cd "${{github.workspace}}/testing/1 - loading errors/impl_1/"
        cargo check

        cd "${{github.workspace}}/testing/1 - loading errors/non_abi_stable_lib/"
        cargo check

        cd "${{github.workspace}}/abi_stable"
        cargo check --no-default-features

        cd "${{github.workspace}}/abi_stable_derive"
        cargo test

        cd "${{github.workspace}}/abi_stable"
        cargo test --features "${{ env.rustv }} testing"
        # clear; clear; cargo test --features "rust_latest_stable testing"

        cd "${{github.workspace}}/examples/0_modules_and_interface_types/impl/"
        cargo test
        cd "${{github.workspace}}/examples/0_modules_and_interface_types/user/"
        cargo run -- run-tests

        cd "${{github.workspace}}/examples/1_trait_objects/application/"
        cargo run

        cd "${{github.workspace}}/examples/2_nonexhaustive/implementation/"
        cargo test
        cd "${{github.workspace}}/examples/2_nonexhaustive/user/"
        cargo run
        cd "${{github.workspace}}/testing/0/user_0/"
        cargo run
        cd "${{github.workspace}}/testing/1 - loading errors/user_1/"
        env "RETURN=ok" cargo run
        env "RETURN=error" cargo run
        env "RETURN=panic" cargo run

        cd "${{github.workspace}}/testing/version_compatibility/user_0"
        cargo run

    - uses: actions/checkout@v2
    - name: ci-nighly
      if: ${{ matrix.rust == 'nightly' && runner.os == 'Linux' }}
      run: |
        env CARGO_BUILD_JOBS=1
        
        rustup override set nightly

        cd "${{github.workspace}}/abi_stable/"
        MIRI_NIGHTLY=nightly-$(curl -s https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri)
        echo "Installing latest nightly with Miri"
        echo "$MIRI_NIGHTLY"
        rustup set profile minimal
        rustup default "$MIRI_NIGHTLY"
        rustup override set "$MIRI_NIGHTLY"
        rustup component add miri
        cargo miri setup
        env MIRIFLAGS="-Zmiri-disable-isolation" cargo miri test --tests --features "testing rust_latest_stable" -- crossbeam_channel
        env MIRIFLAGS="-Zmiri-disable-isolation -Zmiri-tag-raw-pointers" cargo miri test --features "test_miri_track_raw rust_latest_stable"

        cd "${{github.workspace}}"
        rm Cargo.lock
        cd "${{github.workspace}}/abi_stable/"
        cargo clean
        cargo update -Z minimal-versions
        cd "${{github.workspace}}/abi_stable/"
        cargo build --features "rust_latest_stable"

        
